<div class= "face-snap-card" [ngClass]= "{snapped: buttonText !=='Oh, snap!'}">
    <!-- <div [class]= "buttonText==='Oh, snap!' ? 'face-snap-card' : 'face-snap-card snapped'"> -->
        <a routerLink = "/exemple">Back</a>
        <p>{{78787877.35 | number: '1.0-1'}}</p>
        <p>{{344.36 | currency: 'EUR' : 'code'}}</p>
        <h1>{{myExple.title | uppercase }}</h1>
        <p>Mis en ligne le: {{myExple.createdDate | date: 'EEEE, d MMMM, y à HH:mm'}}</p>
        <img [src]="myExple.imageUrl" [alt]="myExple.title">
        <p>{{myExple.description}}</p>
        <p *ngIf = "myExple.localisation">Photo prise à {{myExple.localisation}}</p>
        <p>
            <button (click)="onSnap()">{{buttonText}}</button>
            <span [ngStyle]= "{color: 'rgb(0,' + myExple.snaps +',0)'}"> {{myExple.snaps}} snaps</span>
        </p>
    </div>
